<form #regForm="ngForm" (submit)="registration(userData)">
    <h3>Регистрация пользователя</h3>
    <div class="form-group">
        <label for="firstName">Имя</label>
        <input class="form-control" [(ngModel)]="userData.firstName" id="firstName" name="firstName" required #firstName="ngModel">
        <small *ngIf="firstName.invalid && (firstName.dirty || firstName.touched) && firstName.errors.required" class="form-text error">Это обязательное поле</small>
    </div>
    <div class="form-group">
        <label for="lastName">Фамилия</label>
        <input class="form-control" [(ngModel)]="userData.lastName" id="lastName" name="lastName" required #lastName="ngModel">
        <small *ngIf="lastName.invalid && (lastName.dirty || lastName.touched) && lastName.errors.required" class="form-text error">Это обязательное поле</small>
    </div>
    <div class="form-group">
        <label for="file">Фото</label>
        <input class="form-control" type="file" (change)="addPicture($event)" id="photo" name="photo">      
        <small *ngIf="fileTypeError" class="form-text error">Нужно загрузить картинку. Проверьте тип файла</small>  
    </div>
    <div class="form-group">
        <label for="role">Роль</label>
        <select class="form-control" [(ngModel)]="userData.role" id="role" name="role" #role="ngModel">
            <option value="user" >Пользователь</option>
            <option value="admin">Администратор</option>
        </select>
        <small *ngIf="role.invalid && (role.dirty || role.touched) && role.errors.required" class="form-text error">Это обязательное поле</small>
    </div>
    <div class="form-group">
        <label for="login">Логин</label>
        <input class="form-control" [(ngModel)]="userData.login" id="login" name="login" required #login="ngModel">
        <small *ngIf="login.invalid && (login.dirty || login.touched) && login.errors.required" class="form-text error">Это обязательное поле</small>
    </div>
    <div class="form-group">
        <label for="password">Пароль</label>
        <input class="form-control" type="password" [(ngModel)]="userData.password" id="password" name="password" required #password="ngModel">
        <small *ngIf="password.invalid && (password.dirty || password.touched) && password.errors.required" class="form-text error">Это обязательное поле</small>
    </div>
    <button type="submit" [disabled]="!regForm.form.valid || isSubmitting">Зарегистрироваться</button>
</form>   

