form{
    width: 40%;
    margin-bottom: 40px;
}

@media(max-width:992px){
    form{
        width: 60%;
        max-height: none;
    }
}

@media(max-width:767px){
    form{
        width: 80%;
    }
}

@media(max-width:480px){
    form{
        width: 100%;
    }
}
